h1 Todo詳細

= @todo.id
= @todo.title
= @todo.body
= link_to "編集",edit_todo_path(@todo.id)
= link_to "削除",@todo, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, status: :see_other, class: 'btn btn-danger'


= link_to '一覧', todos_path, class: 'nav-link'

